@import "color-fontSize"; //全局颜色变量集
@import "scrollbar"; //自定义滚动条样式
@import "error"; //自定义滚动条样式
@import "el-reset"; //自定义element-ui样式
@import "FlareClusterLayer_v4"; //自定义element-ui样式
@import "com-portal"; //项目公用样式
@import "common"; //项目公用样式(9/7)
@import "../fonts/syht/SourceHanSansCN-Bold-2.css";

div {
  font-family: 'BoldCondensed','SourceHanSansCN';
}
/*img {
  -webkit-filter: grayscale(100%); !* Chrome, Safari, Opera *!
  filter: grayscale(100%);
}*/
body{
  background: #112852;
  color:@f-c10;
  font-size: 0.014rem !important;
  font-family: 'BoldCondensed','SourceHanSansCN';
}
blockquote, body, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul,.container  {
  margin: 0;
  padding: 0;
}
ul,li{
  list-style-type: none;
}
 *{
  //  font-family: "Microsoft YaHei","微软雅黑";
   font-family: 'BoldCondensed','SourceHanSansCN';
   outline:none;
 }

a:hover, a:focus {
  color: #fff;
   text-decoration: none;
}
a {
  color: #fff;
  text-decoration: none;
}
.clearfix:after { /* 清理浮动 */
  visibility:hidden;
  display:block;
  font-size:0;
  content:" ";
  clear:both;
  height:0;
}
.clearfix {zoom:1;}
.clear{ clear:both}





